/* https://youtu.be/t6CBKf8K_Ac?t=475 */

/* https://color.adobe.com/es/create/color-wheel/ */

:root {

  /* PALETTE */

  /* --color1: #1d1a39;
  --color2: #451952;
  --color3: #662549;
  --color4: #aE4454;
  --color5: #f39f5a;
  --color6: #e8bcb9; */

  --color1: #161e2f;
  --color2: #242f49;
  --color3: #384358;
  --color4: #ffa586;
  --color5: #b51a2b;
  --color6: #541a2e;
  --color7: rgb(255, 220, 144);

  /* --color1: #190019;
  --color2: #2b124c;
  --color3: #522b5b;
  --color4: #854f6c;
  --color5: #dfb6b2;
  --color6: #fbe4d8; */
  
  
}


* {box-sizing: border-box}

button {

  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;

}


button:hover {opacity:1;}


/* Add padding and center-align text to the container */
.new-container {
  padding: 16px;
  text-align: center;
}

/* The Modal (background) */
.modal {

  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #474E5D;
  padding-top: 50px;
  
}

.modal-content {

  background-color: #FEFEFE;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */

}


/* ------------------------------------------------ */

.hidden {
  display: none;
}

.btn {
  cursor: pointer;
  width: 100px;
  margin: 10px;
  color: var(--dark-grey);
  background-color: var(--golden-yellow);
  background-image: linear-gradient(#fecc4c, #ffac33);
  border-color: var(--golden-yellow);
  border-width: 3px;
}


.btn:hover {
  background-image: linear-gradient(#ffcc4c, #f89808);
}

.large-btn {
  width: 80%;
  font-size: 1.2rem;
  align-self: center;
  justify-self: center;
}

.close-task-form-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.close-icon {
  width: 20px;
  height: 20px;
}


.task-form {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--white);
  border-radius: 5px;
  padding: 15px;
  width: 300px;
  height: 350px;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
}

.task-form-header {
  display: flex;
  justify-content: flex-end;
}


/* ------------------------------------------------ */

/* html { */
  /* Find out how to make this work
  max-width: 70%; */
  /* this works on mobile, but it doesn't on desktop 
  height: 100%;  */
/* } */


body {

  background: linear-gradient(
    var(--color6),
    var(--color5),
    var(--color4),
    var(--color2),    
    var(--color1)
  );
  
  font-family: Verdana, Tahoma, sans-serif;
  color: var(--color4);

  max-width: 80%;
  
}


h1 {

  max-width: 100%;
  
  padding: 1rem;
  margin: auto;
  margin-top: 1rem;
  
  justify-content: center;
  text-align: center;
  
  font-family: Verdana, Tahoma, sans-serif;
  font-size: 3rem;
  
  border-radius: 1em;
  
  color: var(--color4);
  background-color: var(--color2);
  
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
}


div {

  display: grid; 
  cursor: default;
  
}


.main_container {

  display: grid;
  grid-template: repeat(1, 50px) / repeat(4, 1fr);

}


.div_total {
    
  box-sizing: border-box;
  width: 100%;
  padding: 5px;
  text-align: center; 
  margin: auto; 

}



.hello {
    
  grid-row: 1; 
  justify-content: center; 
  text-align: center; 
  margin: auto;
  color: var(--color4);
    
}


.logout {
    
  grid-row: 1; 
  text-align: center; 
  margin: auto; 
  text-decoration: none;
  color: var(--color4);

    
}


.admin {
    
  grid-row: 1; 
  /* border: 1px solid black; */
  text-align: center; 
  margin: auto; 
  text-decoration: none;
  color: var(--color4);
    
}


.logout:visited {
    
  text-decoration: none;

}


.admin:visited {
    
  text-decoration: none;

}


.container {

  display: grid;
  grid-template: repeat(1, 50px) / repeat(6, 1fr);
  grid-gap: 3px;
  padding: 5px;
  border-radius: 5px;

  /* width: 100%; */
  margin: auto;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  color: var(--color7);

}


.title {

  grid-column: 1 / -1; /* Span all columns */

}


.title a {

  display: flex; /* Use flexbox for vertical alignment */
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  width: 100%;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  font-size: 2rem; /* Adjust the font size as needed */

}


.in {
    
  background-color: var(--color2);
  color: var(--color7)

}

.title .in {
    
  background-color: var(--color3); 
  color: var(--color7);

}

/* .title .in:hover {background-color: rgb(0, 130, 0);} */


.title .out {
  
  background-color: var(--color3); 
  color: var(--color7);
  
}

.out {
  
  background-color: var(--color2);
  color: var(--color7)

}

.in-out-button {
  
  background-color: var(--color3);
  color: var(--color7) !important;

}

/* .title .out:hover {background-color: rgba(0, 0, 0, 0.95); color: whitesmoke} */
/* .title .out:hover {
    
  background-color: rgb(130, 0, 0);

} */


.amount {

  display: flex;
  justify-content: left;
  align-items: center;

}

.description {

  font-size: 0.7rem;
  display: flex;
  justify-content: left;
  align-items: center;
  
}

.category {
  
  font-size: 0.7rem;
  display: flex;
  justify-content: left;
  align-items: center;

}


.date {
    
  font-size: 0.6rem;
  display: flex; /* Use flexbox for vertical alignment */
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */

}


.button {
    
  font-size: 0.6rem;
  border-radius: 1rem;

}


.button a {
    
  width: 65%;
  margin: auto;

  color: rgba(0, 0, 0, 0.80); 
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;

  padding: 0.1rem;

}


.edit {
    
  background-color: powderblue;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

}


.edit:hover {

  color: white; 
  background-color: rgba(0, 0, 150, 0.75);

}


.delete {
  
  background-color: rgba(255, 0, 0, 0.5);

}


.delete:hover {
  
  color: white; 
  background-color: rgba(150, 0, 0, 0.75);

}
