{% extends 'main.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">

<div class="main_container">

    <!-- <div class="inout"><h1>inOut</h1></div> -->

    <div class="div_total">
        <table class="total">
            <tr>
                <th class="total">TOTAL</th>
            </tr>
            <tr>
                <td class="total">{{total}}</td>
            </tr>
        </table>
    </div>
    
    <div class="hello">
        <span id="hello-msg">Hello, {{request.user}}</span>
    </div>
    <div class="logout">
        <span id="hello-msg"><a class="logout" href="{% url 'logout' %}">LOGOUT</a></span>
    </div>
    <div class="admin">
        <span id="hello-msg"><a class="admin" href="{% url 'admin' %}">ADMIN</a></span>
    </div>
</div>



<div class="container in" id="main_div">
        
    <div class="title">
        <a class="in" href="{% url 'create_in' %}">IN</a>
    </div>
            
        {% for in_result in in_results reversed %}
        <tr>
            <div class="amount">{{in_result.amount}}</div>
            <div class="description">{{in_result.description}}</div>
            <div class="category">{{in_result.category}}</div>
            <div class="date">{{in_result.date_created|date:"d/m/y H:i"}}</div>
            <div class="button"><a class="edit material-symbols-outlined" href="{% url 'update_in' in_result.id %}">EDIT</a></div>
            <!-- <div class="button edit" id="{{in_result.id}}">EDIT</div> -->
            <div class="button"><a class="delete material-symbols-outlined" href="{% url 'delete_in' in_result.id %}">DELETE</a></div>
        </tr>
        {% endfor %}
</div>


<div class="container out">
        
    <div class="title">
        <a class="out" href="{% url 'create_out' %}">OUT</a>
    </div>
            
        {% for out_result in out_results reversed %}
        <tr>
            <div class="amount">{{out_result.amount}}</div>
            <div class="description">{{out_result.description}}</div>
            <div class="category">{{out_result.category}}</div>
            <div class="date">{{out_result.date_created|date:"d-m-y H:i"}}</div>
            <div class="button"><a class="edit material-symbols-outlined" href="{% url 'update_out' out_result.id %}">EDIT</a></div>
            <div class="button"><a class="delete material-symbols-outlined" href="{% url 'delete_out' out_result.id %}">DELETE</a></div>
        </tr>
        {% endfor %}
</div>


<!-- <button onclick="document.getElementById('id01').style.display='block'">MODAL EXAMPLE</button> -->


<!-- <div id="id01" class="modal">
    <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
    <form class="modal-content" action="/action_page.php">
        <div class="new-container">
            <h1>MODAL EXAMPLE</h1>
            <p>This is a modal example</p>

            <div class="clearfix">
                <button type="button" class="cancelbtn">Cancel</button>
                <button type="button" class="deletebtn">Delete</button>
            </div>
        </div>
    </form>
</div> -->

<!-- <button id="open-task-form-btn" class="btn large-btn">
    IN
    <form class="task-form hidden" id="task-form">
        <div class="task-form-header">
          <button id="close-task-form-btn" class="close-task-form-btn" type="button" aria-label="close">
            <svg class="close-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="48px" height="48px"><path fill="#F44336" d="M21.5 4.5H26.501V43.5H21.5z" transform="rotate(45.001 24 24)" /><path fill="#F44336" d="M21.5 4.5H26.5V43.501H21.5z" transform="rotate(135.008 24 24)" /></svg>
</button> -->


<script>

    const openTaskFormBtn = document.getElementById('open-task-form-btn')
    openTaskFormBtn.addEventListener('click', () => {taskForm.classList.toggle('hidden')})



    // Get the modal
    var modal = document.getElementById('id01');
    
    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }
</script>


{% endblock %}