{% extends 'main.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">

<div class="main_container">

    <div class="inout"><h1>inOut</h1></div>

    <div class="div_total">
        <table class="total">
            <tr>
                <th class="total">TOTAL</th>
            </tr>
            <tr>
                <td class="total">{{total}}</td>
            </tr>
        </table>
    </div>
    
    <div class="hello">
        <span id="hello-msg">Hello, {{request.user}}</span>
    </div>
    <div class="logout">
        <span id="hello-msg"><a class="logout" href="{% url 'logout' %}">LOGOUT</a></span>
    </div>
    <div class="admin">
        <span id="hello-msg"><a class="admin" href="{% url 'admin' %}">ADMIN</a></span>
    </div>
</div>



<div class="container in" id="main_div">
        
    <div class="title">
        <a class="in" href="{% url 'create_in' %}">IN</a>
    </div>
            
        {% for in_result in in_results reversed %}
        <tr>
            <div class="amount">{{in_result.amount}}</div>
            <div class="description">{{in_result.description}}</div>
            <div class="category">{{in_result.category}}</div>
            <div class="date">{{in_result.date_created|date:"d/m/y H:i"}}</div>
            <div class="button"><a class="edit" href="{% url 'update_in' in_result.id %}">EDIT</a></div>
            <!-- <div class="button edit" id="{{in_result.id}}">EDIT</div> -->
            <div class="button"><a class="delete" href="{% url 'delete_in' in_result.id %}">DELETE</a></div>
        </tr>
        {% endfor %}
</div>


<div class="container out">
        
    <div class="title">
        <a class="out" href="{% url 'create_out' %}">OUT</a>
    </div>
            
        {% for i in out_results reversed %}
        <tr>
            <div class="amount">{{i.amount}}</div>
            <div class="description">{{i.description}}</div>
            <div class="category">{{i.category}}</div>
            <div class="date">{{i.date_created|date:"d-m-y H:i"}}</div>
            <div class="button"><a class="edit" href="{% url 'update_out' i.id %}">EDIT</a></div>
            <div class="button"><a class="delete" href="{% url 'delete_out' i.id %}">DELETE</a></div>
        </tr>
        {% endfor %}
</div>

<!-- <script>

    // This doesn't work

    const test = document.querySelector("div[id='${in_result.id}']");

    const myDiv = document.querySelector("div[id='main_div']");

    test.addEventListener("click", () => {


        const myiFrame = document.createElement("iframe");

        myiFrame.setAttribute('src', "update_in/${in_result.id}/");

        myDiv.appendChild(myiFrame);

        
    });

</script> -->

{% endblock %}